<div class="panel-header panel-header-sm">
</div>


<div class="main-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Communication</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/selfcomponent/commun" routerLinkActive="active"><img class="img1" src="./assets/img/self4.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Attitude</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/selfcomponent/behav" routerLinkActive="active"><img class="img1" src="./assets/img/self5.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Style</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/selfcomponent/style" routerLinkActive="active"><img class="img1" src="./assets/img/self7.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Yoga</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/selfcomponent/yoga" routerLinkActive="active"><img class="img1" src="./assets/img/self3.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Exercise</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <a routerLink="/selfcomponent/exercise" routerLinkActive="active"><img class="img1" src="./assets/img/self2.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
            <div class="card text-center align-items-center d-flex justify-content-center" style="height: 313px;">

                    <a routerLink="/fileupload" routerLinkActive="active" style="text-decoration:none;">
                        <div class="text-center align-items-center d-flex justify-content-center plus py-auto" ngbTooltip="Add your exam topic?" placement="top-left">
                            <h1>+</h1>
                        </div>
                    </a>

            </div>
        </div>
    </div>



