<div class="panel-header panel-header-sm">
</div>


<div class="main-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Language- Marathi</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/subjectcomponent/marathisub" routerLinkActive="active"><img class="img1" src="./assets/img/marathi.jpg"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Language- Hindi</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/subjectcomponent/hindisub" routerLinkActive="active"><img class="img1" src="./assets/img/hindi.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Language- English</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/subjectcomponent/englishsub" routerLinkActive="active"><img class="img1" src="./assets/img/english.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Sanskruit</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/subjectcomponent/sanskruitsub" routerLinkActive="active"><img class="img1" src="./assets/img/sansktuit.jpg"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Mathmetics</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <a routerLink="/subjectcomponent/mathmetics" routerLinkActive="active"><img class="img1" src="./assets/img/math1.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Science</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/subjectcomponent/science" routerLinkActive="active"><img class="img1" src="./assets/img/science.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">History</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/subjectcomponent/historysub" routerLinkActive="active"><img class="img1" src="./assets/img/history.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Civics</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/subjectcomponent/civics" routerLinkActive="active"><img class="img1" src="./assets/img/civics.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Geography</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/subjectcomponent/geo" routerLinkActive="active"><img class="img1" src="./assets/img/geo.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Physics</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/subjectcomponent/physics" routerLinkActive="active"><img class="img1" src="./assets/img/phy.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Chemistry</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/subjectcomponent/chemistry" routerLinkActive="active"><img class="img1" src="./assets/img/chem.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Biology</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/subjectcomponent/bio" routerLinkActive="active"><img class="img1" src="./assets/img/bio.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
            <div class="card text-center align-items-center d-flex justify-content-center" style="height: 313px;">

                    <a routerLink="/fileupload" routerLinkActive="active" style="text-decoration:none;">
                        <div class="text-center align-items-center d-flex justify-content-center plus py-auto" ngbTooltip="Add your subject?" placement="top-left">
                            <h1>+</h1>
                        </div>
                    </a>

            </div>
        </div>
    </div>



