.img1 {
    width: 300px;
    height: 170px;
}

.img2 {
    margin: 0px;
    padding: 0px;
    height: 170px;
    width: 100%;
}


.img3 {
    margin: 0px;
    padding: 0px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}



.plus{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: red;
    color: aliceblue;
    font-size: 15px;
}

    
 .plus h1{
        padding-top: 26px;
    }