<div class="panel-header panel-header-sm">


</div>

<div class="main-content">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Standard- 5<sup>th</sup></h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret"      ngbDropdownToggle>
                           <i class="now-ui-icons loader_gear"></i>
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/artcomponent/standard5" routerLinkActive="active"><img class="img1" src="./assets/img/5std.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Standard- 6<sup>th</sup></h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/artcomponent/standard6" routerLinkActive="active"><img class="img1" src="./assets/img/6std.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Standard- 7<sup>th</sup></h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/artcomponent/standard7" routerLinkActive="active"><img class="img1" src="./assets/img/7std.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Standard- 8<sup>th</sup></h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/artcomponent/standard8" routerLinkActive="active"><img class="img1" src="./assets/img/8std.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Standard- 9<sup>th</sup></h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <a routerLink="/artcomponent/standard9" routerLinkActive="active"><img class="img1" src="./assets/img/9std.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Standard- 10<sup>th</sup></h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/artcomponent/standard10" routerLinkActive="active"><img class="img1" src="./assets/img/10std.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h4 class="card-title">ARTS- FYJC</h4>
                </div>
                <div class="card-body text-center">
                    
                    <a routerLink="/artcomponent/artfyjc" routerLinkActive="active"><img class="img3" src="./assets/img/11art.gif"></a>

                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h4 class="card-title">ARTS- SYJC</h4>
                </div>
                <div class="card-body text-center">
                    
                    <a routerLink="/artcomponent/artsyjc" routerLinkActive="active"><img class="img3" src="./assets/img/art12.gif"></a>

                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h4 class="card-title">COMMERCE- FYJC</h4>
                </div>
                <div class="card-body text-center">
                    
                    <a routerLink="/artcomponent/comfyjc" routerLinkActive="active"><img class="img3" src="./assets/img/comm11.gif"></a>

                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h4 class="card-title">COMMERCE- SYJC</h4>
                </div>
                <div class="card-body text-center">
                    
                    <a routerLink="/artcomponent/comsyjc" routerLinkActive="active"><img class="img3" src="./assets/img/comm12.gif"></a>

                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h4 class="card-title">SCIENCE- FYJC</h4>
                </div>
                <div class="card-body text-center">
                    
                    <a routerLink="/artcomponent/scifyjc" routerLinkActive="active"><img class="img3" src="./assets/img/sci11.gif"></a>

                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h4 class="card-title">SCIENCE- SYJC</h4>
                </div>
                <div class="card-body text-center">
                    
                    <a routerLink="/artcomponent/scisyjc" routerLinkActive="active"><img class="img3" src="./assets/img/sci12.gif"></a>

                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card text-center align-items-center d-flex justify-content-center" style="height: 313px;">

                    <a routerLink="/fileupload" routerLinkActive="active" style="text-decoration:none;">
                        <div class="text-center align-items-center d-flex justify-content-center plus py-auto" ngbTooltip="Add your exam standard?" placement="top-left">
                            <h1>+</h1>
                        </div>
                    </a>

            </div>
        </div>
    </div>
