<div class="panel-header panel-header-sm">
</div>


<div class="main-content">
    <div class="row">
        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h4 class="card-title">Who are We</h4>
                    <hr>
                </div>
                <div class="card-body text-center">
                    
                    

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h4 class="card-title">What do we do</h4>
                    <hr>
                </div>
                <div class="card-body text-center">
                    
                   

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h4 class="card-title">How to reach to us</h4>
                    <hr>
                </div>
                <div class="card-body text-center">
                    
                   

                </div>
            </div>
        </div>
    </div>



