<div class="panel-header panel-header-sm">
</div>


<div class="main-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">India</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/gkcomponent/india" routerLinkActive="active"><img class="img1" src="./assets/img/basic1.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">World</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/gkcomponent/world" routerLinkActive="active"><img class="img1" src="./assets/img/basic2.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Sport</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/gkcomponent/sport" routerLinkActive="active"><img class="img1" src="./assets/img/basic3.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">Science</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/gkcomponent/sciencegk" routerLinkActive="active"><img class="img1" src="./assets/img/basic4.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category"></h5>
                    <h4 class="card-title">History</h4>
                    <div ngbDropdown>
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">

                    <a routerLink="/gkcomponent/history" routerLinkActive="active"><img class="img1" src="./assets/img/basic4.gif"></a>

                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
            <div class="card text-center align-items-center d-flex justify-content-center" style="height: 313px;">

                    <a routerLink="/fileupload" routerLinkActive="active" style="text-decoration:none;">
                        <div class="text-center align-items-center d-flex justify-content-center plus py-auto" ngbTooltip="Add your exam gk topic?" placement="top-left">
                            <h1>+</h1>
                        </div>
                    </a>

            </div>
        </div>
    </div>



